/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMONS */

html {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
}

body {
    background-color: #d8dbd7;
}

.container {
    width: 80vw;
    min-width: 950px;
    height: 95vh;
    margin-top: 2.5vh;
    background-color: white;
    display: flex;
}


/* MAIN */
main {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

/* nav */
.nav {
    width: 35%;
    height: 100%;
}

/* - user nav */
.user-nav {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}

.user-box {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-box img{
    width: 50px;
    border-radius: 50%;
}

.user-nav-identity {
    display: flex;
    margin-left: 1em;
}

.username {
    vertical-align: middle;
    align-self: center;
    margin-left: .5em;
}

.actions-app {
    display: flex;
    align-self: center;
    margin-right: 1em;
}

.actions-app i {
    margin: 5px;
    color: #b1b1b1;
    font-size: 1.3em;
}

/* -active notification */
.active-notification {
    width: 100%;
    height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.logo-bell-notification {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-right: 1em;
    margin-left: 1em;
}

.logo-bell-notification i {
    font-size: 1.5em;
    color: #8edafc;
}

.down-active {
    color:grey;
    text-decoration: underline;
    font-size: .8em;
}

/* search bar */
.search-bar {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-chat {
    width: 98%;
    height: 90%;
    padding: 1em;
    border: transparent;
}

.logo-search {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* contacts */
.contacts-container {
    width: 100%;
    height: calc(100% - 170px);
    overflow: auto;
}

.contact-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-box:hover {
    background-color: #d8dbd7;
}

.active {
    background-color: #e9ebeb;
}

.contact-item {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #c4c3c4;
}

.contact-item img {
    width: 50px;
    border-radius: 50%;
}

.user-text {
    margin-left: .8em;
}

.last-message {
    color: grey;
    margin-left:.7em;
    font-size:.8em;
}

.hour-last-chat {
    color: grey;
    font-size:.7em;
    margin-right: 1em;
}

/* chat */

.chat {
    width: 65%;
    height: 100%;
}

/* - chat board */
.chat-board {
    width: 100%;
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.row {
    padding: .5em;
    display: flex;
}

.row-sended {
    justify-content: flex-end;
}

.sended-message {
    width: 30%;
    background-color:  #d5f9ba;
    float: right;
    border-radius: 10px;
    margin-right: 60px;
    padding: 1em;
}

.arrived-message {
    width: 30%;
    background-color:  white;
    float: left;
    border-radius: 10px;
    margin-left: 60px;
    padding: 1em;
}

/* - message keyboard bar */
.message-bar {
    width: 100%;
    height: 70px;
    background-color: #f3eee9;
    display: flex;
}

/* + emoji */
.emoji {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji i {
    font-size: 2em;
    color: gray;
}

/* + keyboard  */
.keyboard {
    width: 80%;
    height: 100%;
    background-color: #f3eee9;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: transparent;
    padding: 1em;
}

/* + send audio */
.send-audio {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-audio i {
    font-size: 2em;
    color: gray;
}