/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMONS */

body {
    background-color: gray;
}

.container {
    width: 80vw;
    min-width: 950px;
    height: 95vh;
    border: 1px solid black;
    margin-top: 2.5vh;
    background-color: white;
    display: flex;
}


/* MAIN */
main {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

/* nav */
.nav {
    width: 35%;
    border: 1px solid black;
    height: 100%;
}

.user-nav {
    width: 100%;
    height: 60px;
    border: 1px solid blue;
}

.active-notification {
    width: 100%;
    height: 70px;
    border: 1px solid red;
}

.search-bar {
    width: 100%;
    height: 40px;
    border: 1px solid purple;
}

.contacts-container {
    width: 100%;
    height: calc(100% - 170px);
    background-color: aquamarine;
    overflow: auto;
}

.contact-item {
    width: 100%;
    height: 70px;
    border: 1px solid red;
}

/* chat */

.chat {
    width: 65%;
    border: 1px solid red;
    height: 100%;
}