/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMONS */

body {
    background-color: gray;
}

.container {
    width: 80vw;
    min-width: 950px;
    height: 95vh;
    border: 1px solid black;
    margin-top: 2.5vh;
    background-color: white;
    display: flex;
}


/* MAIN */
main {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

/* nav */
.nav {
    width: 35%;
    border: 1px solid black;
    height: 100%;
}

/* - user nav */
.user-nav {
    width: 100%;
    height: 60px;
    border: 1px solid blue; 
}

.user-box {
    display:flex;
    justify-content: space-between;
}

.user-box img{
    width: 50px;
    border-radius: 50%;
}

.user-nav-identity {
    display: flex;
}

.username {
    vertical-align: middle;
    align-self: center;
    margin-left: .5em;
}

.actions-app {
    display: flex;
    align-self: center;
}

.actions-app i {
    margin: 5px;
}

/* -active notification */
.active-notification {
    width: 100%;
    height: 70px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-bell-notification {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;

}

.logo-bell-notification i {
    font-size: 2em;
}

/* search bar */
.search-bar {
    width: 100%;
    height: 40px;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-chat {
    width: 98%;
    height: 90%;
}

/* contacts */
.contacts-container {
    width: 100%;
    height: calc(100% - 170px);
    background-color: aquamarine;
    overflow: auto;
}

.contact-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-item {
    width: 100%;
    height: 70px;
    border: 1px solid red;
}

.contact-item img {
    width: 50px;
    border-radius: 50%;
}



/* chat */

.chat {
    width: 65%;
    border: 1px solid red;
    height: 100%;
}

.user-chat {
    width: 100%;
    height: 60px;
    border: 1px solid blue;
}

.chat-board {
    width: 100%;
    height: calc(100% - 130px);
    border: 1px solid red;
    background-color: rgb(155, 193, 227);
    overflow: auto;
}

/* - message keyboard bar */
.message-bar {
    width: 100%;
    height: 70px;
    border: 1px solid black;
    display: flex;
}
.emoji {
    width: 10%;
    height: 100%;
    border: 1px solid black;
}

.keyboard {
    width: 80%;
    height: 100%;
    background-color: bisque;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard {
    width: 95%;
    height: 40px;
}

.send-audio {
    width: 10%;
    height: 100%;
    border: 1px solid black;
}
